<div class="mx-auto mt-10" data-controller="secret--decryptor" data-secret--decryptor-content-value=<%= @secret.content %>>
  <span class="relative flex justify-center">
    <div class="absolute inset-x-0 top-1/2 h-px -translate-y-1/2 bg-transparent bg-gradient-to-r from-transparent via-gray-500 to-transparent opacity-75"></div>
    <span class="relative z-10 bg-gray-100 text-gray-900 px-6 font-bold text-2xl sm:text-2xl">You have received a secret</span>
  </span>

  <p class="mt-1 mb-5 text-gray-900">Be aware! we will only show it once</p>

  <div class="overflow-hidden rounded-lg border border-gray-200 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-60">
    <%= text_area_tag 'link', nil,
          class: 'w-full resize-none border-none align-top focus:ring-0 sm:text-sm text-gray-900 bg-slate-100',
          rows: 8,
          readonly: true,
          data: { "secret--decryptor-target": "content" } %>

    <div class="flex items-center justify-center gap-2 p-3 bg-slate-100">
      <button
        type="button"
        class="bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring rounded-lg inline-block cursor-pointer"
        data-action="click->secret--decryptor#decrypt"
      > Reveal Secret
      </button>
    </div>
  </div>
</div>
